$title-font: 'Poppins';
$main-font: 'Roboto';
$main-color: #ca4000;

@import 'base/fonts.scss';

body {
    background : #ddd;
}

.btn-container {
    display: block;

    &:hover{
       background: white;
    }
    a {
        text-decoration: none;
    }
}

.btn {
    background: $main-color;
    color: white;
    display: inline-block;
    padding: 0.4rem 1.5rem;
    text-decoration: none;
    transition-duration: 0.35s;
}

.btn2 {
    @extend .btn;
    color: red;
}

body {
    font-family: $main-font;
}

h1,h2,h3,h4,h5,h6 {
    font-family: $title-font;
    color: $main-color;
}

.text-center {
    text-align: center;
}

.container {
    margin: 0 auto;
    width: calc(100% - 100px);
}

img {
    max-width: 100%;
}

.standard-img {
    width: 370px;
}

.btn-container {
    text-align: center;
    margin: 3rem 0;
}

.btn {
    display: inline-block;
    background: #34b331;
    color: white;
    padding: 0.4rem 1.5rem;
    text-decoration: none;
    transition-duration: 0.35s;
}

.btn:hover {
    opacity: 0.8;
}

p {
    text-align: justify;
}