@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins/Poppins-Regular.woff") format("woff"), url("../fonts/Poppins/Poppins-Regular.eot") format("embedded-opentype"), url("../fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-weight: bold;
  src: url("../fonts/Poppins/Poppins-Bold.woff2") format("woff2"), url("../fonts/Poppins/Poppins-Bold.woff") format("woff"), url("../fonts/Poppins/Poppins-Bold.eot") format("embedded-opentype"), url("../fonts/Poppins/Poppins-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto/Roboto-Regular.eot") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: italic;
  src: url("../fonts/Roboto/Roboto-Italic.woff2") format("woff2"), url("../fonts/Roboto/Roboto-Italic.woff") format("woff"), url("../fonts/Roboto/Roboto-Italic.eot") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-weight: bold;
  src: url("../fonts/Roboto/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto/Roboto-Bold.eot") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}
body {
  background: #ddd;
}

.btn-container {
  display: block;
}
.btn-container:hover {
  background: white;
}
.btn-container a {
  text-decoration: none;
}

.btn, .btn2 {
  background: #ca4000;
  color: white;
  display: inline-block;
  padding: 0.4rem 1.5rem;
  text-decoration: none;
  transition-duration: 0.35s;
}

.btn2 {
  color: red;
}

body {
  font-family: "Roboto";
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins";
  color: #ca4000;
}

.text-center {
  text-align: center;
}

.container {
  margin: 0 auto;
  width: calc(100% - 100px);
}

img {
  max-width: 100%;
}

.standard-img {
  width: 370px;
}

.btn-container {
  text-align: center;
  margin: 3rem 0;
}

.btn, .btn2 {
  display: inline-block;
  background: #34b331;
  color: white;
  padding: 0.4rem 1.5rem;
  text-decoration: none;
  transition-duration: 0.35s;
}

.btn:hover, .btn2:hover {
  opacity: 0.8;
}

p {
  text-align: justify;
}

/*# sourceMappingURL=main.css.map */
