@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins/Poppins-Regular.woff") format("woff"), url("../fonts/Poppins/Poppins-Regular.eot") format("embedded-opentype"), url("../fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-weight: bold;
  src: url("../fonts/Poppins/Poppins-Bold.woff2") format("woff2"), url("../fonts/Poppins/Poppins-Bold.woff") format("woff"), url("../fonts/Poppins/Poppins-Bold.eot") format("embedded-opentype"), url("../fonts/Poppins/Poppins-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto/Roboto-Regular.eot") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: italic;
  src: url("../fonts/Roboto/Roboto-Italic.woff2") format("woff2"), url("../fonts/Roboto/Roboto-Italic.woff") format("woff"), url("../fonts/Roboto/Roboto-Italic.eot") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-weight: bold;
  src: url("../fonts/Roboto/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto/Roboto-Bold.eot") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}
img {
  max-width: 100%;
}

body {
  margin: 0;
  padding-bottom: 300px;
}
body .bg-light {
  background-color: #cecece !important;
}

.hard-work {
  height: 273px;
  width: 100%;
  object-fit: cover;
}
@media screen and (max-width: 991px) {
  .hard-work {
    height: 360px;
  }
}
@media screen and (max-width: 767px) {
  .hard-work {
    height: unset;
  }
}

.circle {
  background-color: blueviolet;
  width: 100%;
  border-radius: 50%;
}

.text-center {
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins";
}

body {
  font-family: "Roboto";
}

.home-slider .carousel-inner .carousel-item img {
  height: 450px;
  object-fit: cover;
}
@media screen and (max-width: 768px) {
  .home-slider .carousel-inner .carousel-item img {
    height: 350px;
  }
}
@media screen and (max-width: 500px) {
  .home-slider .carousel-inner .carousel-item img {
    height: 230px;
  }
}

.post-card {
  height: 100%;
  position: relative;
  padding-bottom: 3rem;
}
.post-card .card-img-top {
  height: 175px;
  object-fit: cover;
}
.post-card .card-body {
  padding: 1rem 0.5rem;
}
.post-card .card-body .btn {
  width: 140px;
  left: calc(50% - 70px);
  bottom: 10px;
  position: absolute;
}

body.home .concept {
  background-image: url("../images/mer-plage-cocotier.jpg");
  background-size: cover;
  padding: 8rem 0;
  color: white;
  position: relative;
}
body.home .concept:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.45);
}
body.home .container {
  position: relative;
  z-index: 2;
}
body.home .polygon-section {
  margin-top: 3rem;
  padding: 8rem 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  position: relative;
}
@media screen and (max-width: 767px) {
  body.home .polygon-section {
    padding: 3rem 0;
  }
}
body.home .polygon-section::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 40%;
  height: 100%;
  background-color: gray;
  clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
  background-image: url("../images/poly.jpg");
  background-size: cover;
  background-position-x: center;
}
@media screen and (max-width: 576px) {
  body.home .polygon-section::before {
    opacity: 0.5;
    clip-path: unset;
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  body.home .polygon-section .container {
    position: relative;
  }
}

/*# sourceMappingURL=style.css.map */
