img {
    max-width: 100%;
}

body {
    margin: 0;
}

// .container {
//     max-width: 1350px;
//     margin: 0 auto;

//     @media screen and (max-width: 1400px) {
//         max-width: 1100px;
//     }

//     @media screen and (max-width: 1150px) {
//         max-width: 800px;
//     }

//     @media screen and (max-width: 850px) {
//         max-width: 600px;
//     }

//     @media screen and (max-width: 650px) {
//         max-width: calc(100% - 50px);
//     }
// }

.rounded-image {
    position: relative;
    display: inline-block;

    &:after {
        content: "";
        position: absolute;
        top: -35px;
        right: -35px;
        background-color: $bg-color;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        z-index: -1;
    }
}