.main-header {
    background-color: $bg-color;
    

    .header-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo-container {
        img {
            width: 270px;
        }
    }

    nav {
        max-width: 600px;
        width: 100%;

        > ul {
            display: flex;
            width: 100%;
            justify-content: space-between;
            padding: 0;
    
            li {
                list-style: none;

                a {
                    color: black;
                    text-decoration: none;
                    font-size: 1.25rem;
                    font-family: $title-font;
                }
            }
        }
    }
}