body.home {
    .concept {
        background-image: url('#{$img-path}/mer-plage-cocotier.jpg');
        background-size: cover;
        padding: 8rem 0;
        color: white;
        position: relative;
        
        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background-color: rgba(0, 0, 0, 0.45);
        }
        
        
    }
    
    .container {
        position: relative;
        z-index: 2;
    }
    
    .polygon-section {
        margin-top: 3rem;
        padding: 8rem 0;
        background-color: rgba(0,0,0,0.80);
        color: white;
        position: relative;
    
        @media screen and (max-width: 767px) {
            padding: 3rem 0;
        }
    
        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 40%;
            height: 100%;
            background-color: gray;
            clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
            background-image: url('../images/poly.jpg');
            background-size: cover;
            background-position-x: center;
    
            @media screen and (max-width: 576px) {
                opacity: 0.5;
                clip-path: unset;
                width: 100%;
            }
        }
    
        .container {
            @media screen and (max-width: 576px) {
               position: relative;
            }
        }
    }

}
