img {
    max-width: 100%;
}

body {
    margin: 0;
    padding-bottom: 300px;

    .bg-light {
        background-color: #cecece!important;
    }
}

.hard-work {
    height: 273px;
    width: 100%;
    object-fit: cover;

    @media screen and (max-width: 991px) {
        height: 360px;
    }

    @media screen and (max-width: 767px) {
        height: unset;
    }
}

.circle {
    background-color: blueviolet;
    width: 100%;
    border-radius: 50%;
}

