body.home {
    .first-section {
        padding: 3rem 0;

        .section-content {
            display: flex;
            justify-content: space-between;

            > div {
                width: 50%;
            }
        }

        .my-picture {
            text-align: center;

            .rounded-image {
                &:after {
                    top: 10px;
                    right: 10px;
                    width: 100px;
                    height: 100px;
                }
                img {
                    width: 400px;
                    border-radius: 50%;
                }
            }


        }

        .my-profile {
            display: flex;
            flex-direction: column;
            justify-content: center;

            h1 {
                font-size: 3rem;
                margin: 0;
            }

            span {
                font-family: $title-font;
            }

        }
    }
}