html {
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0 4rem;
}

h1 {
    text-align: center;
}

section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

section div {
    background-color: rgb(160, 160, 160);
    height: 200px;
    width: 30%;
    min-width: 200px;
    margin-bottom: 50px;
    display: block;
}

@media screen and (max-width: 992px) {
    section div {
        width: calc(50% - 25px);
    }
}

@media screen and (max-width: 576px) {
    section div {
        width: 100%;
    }

    body {
        padding: 0 1.5rem;
    }
}


