body {
    font-family: sans-serif;
}

table {
    border-collapse: collapse;
    min-width: 80%;
    margin: 0 auto;
}

thead {
    background: #2c1b89;
    color: white;
    line-height: 1.75rem;
}

tbody tr {
    height: 1.5rem;
}

td, th {
    border: 1px solid black;
}