body {
    padding: 2rem;
    font-family: sans-serif;
}

form {
    width: 400px;
    margin: 0 auto;
}

h1 {
    color: #256996;
    text-align: center;
}


form label {
    display: block;
    color: #256996;
    font-weight: bold;
}

form > div {
    margin-bottom: 1rem;
}

form input,
form textarea,
form select {
    padding: 2px;
    max-width: calc(100% - 4px);
    width: 100%;
    border: none;
    border-bottom: 2px solid #256996;
}

form input,
form select {
    height: 26px;
}

form input[type="checkbox"],
form input[type="radio"] {
    height: initial;
}

form input:focus,
form textarea:focus,
select:focus {
    border-color: #1ca60b;
    outline: none;
}

form textarea {
    border: 2px solid #256996;
    max-width: calc(100% - 8px);
}

form select {
    height: 35px;
    max-width: 100%;
}

/* 
form input[type="date"] {
    width: unset;
} */

.btn-container {
    text-align: center;
    margin-top: 1rem;
}

.btn-container button {
    background: #256996;
    border: none;
    color: white;
    padding: 0.35rem 1.5rem;
}

fieldset {
    margin: 0;
}

fieldset label {
    display: initial;
}

fieldset input {
    width: unset;
}

.dual-input {
    display: flex;
    justify-content: space-between;
}

.dual-input > div {
    width: calc(50% - 10px);
}