@font-face {
    font-family: $title-font;
    src: url('../fonts/Poppins/Poppins-Regular.woff2') format('woff2'),
    url('../fonts/Poppins/Poppins-Regular.woff') format('woff'),
    url('../fonts/Poppins/Poppins-Regular.eot') format('embedded-opentype'),
    url('../fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}

@font-face {
    font-family: $title-font;
    font-weight: bold;
    src: url('../fonts/Poppins/Poppins-Bold.woff2') format('woff2'),
    url('../fonts/Poppins/Poppins-Bold.woff') format('woff'),
    url('../fonts/Poppins/Poppins-Bold.eot') format('embedded-opentype'),
    url('../fonts/Poppins/Poppins-Bold.ttf') format('truetype');
}

@font-face {
    font-family: $main-font;
    src: url('../fonts/Roboto/Roboto-Regular.woff2') format('woff2'),
    url('../fonts/Roboto/Roboto-Regular.woff') format('woff'),
    url('../fonts/Roboto/Roboto-Regular.eot') format('embedded-opentype'),
    url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: $main-font;
    font-style: italic;
    src: url('../fonts/Roboto/Roboto-Italic.woff2') format('woff2'),
    url('../fonts/Roboto/Roboto-Italic.woff') format('woff'),
    url('../fonts/Roboto/Roboto-Italic.eot') format('embedded-opentype'),
    url('../fonts/Roboto/Roboto-Italic.ttf') format('truetype');
}

@font-face {
    font-family: $main-font;
    font-weight: bold;
    src: url('../fonts/Roboto/Roboto-Bold.woff2') format('woff2'),
    url('../fonts/Roboto/Roboto-Bold.woff') format('woff'),
    url('../fonts/Roboto/Roboto-Bold.eot') format('embedded-opentype'),
    url('../fonts/Roboto/Roboto-Bold.ttf') format('truetype');
}