.post-card {
    height: 100%;
    position: relative;
    padding-bottom: 3rem;

    .card-img-top {
        height: 175px;
        object-fit: cover;
    }

    .card-body {
        padding: 1rem 0.5rem;
        
        .btn {
            width: 140px;
            left: calc(50% - 70px);
            bottom: 10px;
            position: absolute;
        }
    }
}