.home-slider {
    .carousel-inner  {
        .carousel-item {
            img {
                height: 450px;
                object-fit: cover;

                @media screen and (max-width: 768px) {
                    height: 350px;
                }

                @media screen and (max-width: 500px) {
                    height: 230px;
                }
            }
        }
    }
}