/* Appel d'un id en css -> ne pas utiliser d'id en css

#titre-page-accueil {
    color: unset;
} 

*/
body {
    font-family: sans-serif;
    margin: 0;
    padding-bottom: 30rem;
}

.text-center {
    text-align: center;
}

.mt {
    margin-top: 3rem;
}

.main-title {
    color: #171718;
    text-align: center;
}

/* On centre le contenu de la div et on fait un espace au dessus*/
.techno-list {
    text-align: center;
    margin: 3rem 0;
}

/* Retire le soulignement des liens */
.techno-list a {
    text-decoration: none;
}

/* Force les images dans un carré de 130px 
    Object fit container permet de faire tenir l'image en entier dans le cadre de 130px (pas de déformation)*/
.techno-list img {
    width: 130px;
    height: 130px;
    object-fit: contain;
}

/* Prend la priorité sur la selection du dessous car plus précis */
html .spaced-list li {
    margin-bottom: 1rem;
    color: red;
}

.spaced-list li {
    color: blue;
}

/* Sélectionne plusieurs éléments */
a, 
li {
   font-weight: bold; 
}

.btn {
    background-color: #04AA6D;
    color: white;
    padding: 0.6rem 1.5rem;
    text-decoration: none;
    border-radius: 4px;
}

.btn-hb {
    background-color: #006391;
    font-weight: bold;
    text-decoration: none;
    color: #FFFFFF;
    padding: 0.6rem 2rem;
    display: inline-block;
    width: 150px;
    transition-duration: 0.3s;
}

.btn-hb:hover {
    opacity: 0.5;
}

.btn-hb.edit {
    background-color: #ffd000;
}

.btn-hb.delete {
    background-color: #f81e01;
}

.btn-hb.delete:hover {
    transform: rotate(-180deg);
}

.select-first-lvl + p {
    background: red;
}

.image-wrapper {
    width: 200px;
    height: 100px;
    margin: 0 auto;
    overflow: hidden;
}

.image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    transition-duration: 350ms;
    transform: scale(1.02);
}

.image-wrapper:hover img {
    transform: scale(1);
}

