@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins/Poppins-Regular.woff") format("woff"), url("../fonts/Poppins/Poppins-Regular.eot") format("embedded-opentype"), url("../fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-weight: bold;
  src: url("../fonts/Poppins/Poppins-Bold.woff2") format("woff2"), url("../fonts/Poppins/Poppins-Bold.woff") format("woff"), url("../fonts/Poppins/Poppins-Bold.eot") format("embedded-opentype"), url("../fonts/Poppins/Poppins-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto/Roboto-Regular.eot") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: italic;
  src: url("../fonts/Roboto/Roboto-Italic.woff2") format("woff2"), url("../fonts/Roboto/Roboto-Italic.woff") format("woff"), url("../fonts/Roboto/Roboto-Italic.eot") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-weight: bold;
  src: url("../fonts/Roboto/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto/Roboto-Bold.eot") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}
img {
  max-width: 100%;
}

body {
  margin: 0;
}

.rounded-image {
  position: relative;
  display: inline-block;
}
.rounded-image:after {
  content: "";
  position: absolute;
  top: -35px;
  right: -35px;
  background-color: #f3f1e8;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  z-index: -1;
}

.text-center {
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins";
}

body {
  font-family: "Roboto";
}

.main-header {
  background-color: #f3f1e8;
}
.main-header .header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-header .logo-container img {
  width: 270px;
}
.main-header nav {
  max-width: 600px;
  width: 100%;
}
.main-header nav > ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0;
}
.main-header nav > ul li {
  list-style: none;
}
.main-header nav > ul li a {
  color: black;
  text-decoration: none;
  font-size: 1.25rem;
  font-family: "Poppins";
}

body.home .first-section {
  padding: 3rem 0;
}
body.home .first-section .section-content {
  display: flex;
  justify-content: space-between;
}
body.home .first-section .section-content > div {
  width: 50%;
}
body.home .first-section .my-picture {
  text-align: center;
}
body.home .first-section .my-picture .rounded-image:after {
  top: 10px;
  right: 10px;
  width: 100px;
  height: 100px;
}
body.home .first-section .my-picture .rounded-image img {
  width: 400px;
  border-radius: 50%;
}
body.home .first-section .my-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body.home .first-section .my-profile h1 {
  font-size: 3rem;
  margin: 0;
}
body.home .first-section .my-profile span {
  font-family: "Poppins";
}

/*# sourceMappingURL=style.css.map */
