body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding-bottom: 500px;
}

img {
    max-width: 100%;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Poppins', sans-serif;
}

.main-header {
    display: flex;
    background: #ddd;
    align-items: center;
    justify-content: space-around;
    padding: 1rem 0;
    position: sticky;
    top: 0;
    z-index: 10;
}

.main-header img {
    width: 200px;
}

.main-header nav ul {
    display: flex;
}

.main-header nav ul li {
    list-style: none;
    margin: 0 1rem;
}

.black-session {
    color: white;
    background: black;
    text-align: center;
    padding: 3rem 0;
}


.dark-btn {
    color: black;
    background: white;
    border: none;
    padding: 0.4rem 1.25rem;
    cursor: pointer;
}

.dark-btn i {
    margin-right: 0.5rem;
}

.dark-btn.overflow-btn{
    position: relative;
}

.dark-btn.overflow-btn i{
    position: absolute;   
    right: -6px;
    top: -10px;
    margin: 0;
    color: #ff6d1a;
    font-size: 1.25rem;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.product-list {
    padding: 2rem 0;
}

.product-list .list {
    display: flex; 
    justify-content: space-between;
}

.card {
    width: 23%;
    position: relative;
    padding-bottom: 2.5rem;
    box-shadow: 1px 1px 3px #a2a2a2;
    transition-duration: 0.5s;
}

.card:hover {
    box-shadow: 1px 1px 10px #a2a2a2;
}

.card .image-wrapper img {
    height: 100px;
    width: 100%;
    object-fit: cover;
    display: block;
}

.card h1 {
    font-size: 1.1rem;
    margin: 0.25rem 0;
    text-align: center;
}

.card .content {
    padding: 0 0.5rem;
}

.card .desc {
    font-size: 0.85rem;
}

.card time {
    font-size: 0.8rem;
    color: #696969;
    margin-bottom: 0.15rem;
    display: inline-block;
}

.card .new {
    position: absolute;
    background: #ffea01;
    padding: 0.2rem 0.25rem;
    top: 0;
    right: 0;
}

.card .btn-card {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background: #d1d1d1;
    color: black;
    text-decoration: none;
    padding: 0.4rem 0;
}

.card > a {
    text-decoration: none;
    color: black;
    display: block;
}


.pseudo:after {
    content: ' Theau';
}

.pseudo:before {
    content: ' Theau';
}

.breadcrumb {
    display: flex;
}

.breadcrumb li {
    list-style: none;
    margin-right: 0.5rem;
}

.breadcrumb li:after {
    content: '/';
    margin-left: 0.5rem;
}

.breadcrumb li:last-child:after {
    content: '';
}

h2 {
    position: relative;
    text-align: center;
    margin-bottom: 3rem;
}

h2:after {
    content: '';
    height: 3px;
    background: #353c5a;
    position: absolute;
    width: 200px;
    left: calc(50% - 100px);
    bottom: -10px;
}

.circle {
    width: 70px;
    height: 70px;
    background: #5e57cf;
    border-radius: 50%;
}

.text-center {
    text-align: center;
}

.just-center {
    display: flex;
    justify-content: center;
}

.image-circle {
    width: 500px;
    position: relative;
    margin-top: 35px;
}

.image-circle:after {
    content: '';
    position: absolute;
    top: -35px;
    right: -35px;
    
    width: 70px;
    height: 70px;
    background: #5e57cf;
    border-radius: 50%;
}

.image-circle img {
    position: relative;
    z-index: 2;
}

.flag-title {
    position: relative;
    display: inline-block;
}

.flag-title:before,
.flag-title:after {
    content: '';
    bottom: -7px;
    height: 5px;
    width: 33%;
    display: block;
    position: absolute;
}

.flag-title:before {
    left: 0;
    background: blue;
}

.flag-title:after {
    right: 0;
    background: red;
}

.our-story {
    background: black;
    height: 300px;
    margin-bottom: 3rem;
}

.our-story .left-polygon {
    clip-path: polygon(0 0, 100% 0, 45% 100%, 0% 100%);
    width: 50%;
    background: #8bc34a;
    height: 100%;
}

.image-polygon {
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: 28% 35%;
    margin: 0 auto;
    display: block;
}
