// Déclaration en scss
$primary-color: #ddd;
$secondary-color: #eee;

$title-font: "Poppins";
$main-font: "Roboto";

.card {
  border: 1px solid black;
  color: $primary-color;
  font-family: $main-font;
  
  &:hover {
    .image-wrapper {
      img {
        transform: scale(1.1);
      }
    }
  }
  
  &.product {
    border: none;
    h1 {
      font-family: $title-font;
    }
  }
  
  .image-wrapper {
    overflow: hidden;
    
    img {
      transform: scale(1.5);
      
      &:hover {
        transform: scale(1);
      }
    }
  }
  
}


//Rendu en css
.card {
  border: 1px solid black;
  color: #ddd;
  font-family: "Roboto";
}
.card:hover .image-wrapper img {
  transform: scale(1.1);
}
.card.product {
  border: none;
}
.card.product h1 {
  font-family: "Poppins";
}
.card .image-wrapper {
  overflow: hidden;
}
.card .image-wrapper img {
  transform: scale(1.5);
}
.card .image-wrapper img:hover {
  transform: scale(1);
}